<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCase.AngPro"/>
      <class name="TC.tc_03_radiocheckbox"/>
      <class name="TC.tc_01_locatorLearning"/>
      <class name="TC.tc_04_DropDown"/>
      <class name="TC.tc_07_Right_click"/>
      <class name="TC.tc_10_alertPopUp"/>
      <class name="TC.tc_06_scroll"/>
      <class name="driver.DriverSetupTest"/>
      <class name="testCase.Tc_07"/>
      <class name="testCase.Tc_06"/>
      <class name="testCase.Tc_09"/>
      <class name="testCase.Tc_08"/>
      <class name="testCase.Tc_03"/>
      <class name="testCase.Tc_02"/>
      <class name="testCase.Tc_04"/>
      <class name="TC.tc_02_VerifyPageTitle"/>
      <class name="TC.tc_05_Refresh"/>
      <class name="testCase.Tc_05_Refresh"/>
      <class name="testCase.Tc_01"/>
      <class name="TC.tc_09_keyboard_event"/>
      <class name="TC.tc_08_dragdrop"/>
      <class name=".NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
