<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCase.TC009_KeyboardEvent"/>
      <class name="testCase.TC001_LocatorLearning2"/>
      
      <class name="testCase.TC005_Refresh"/>
      <class name="testCase.TC004_VerifyDropDown"/>
      <class name="testCase.TC008_DragAndDrop"/>
      <class name="testCase.TC006_Scroll"/>
      <class name="testCase.TC001_LocatorLearning"/>
      <class name="testCase.TC003_VerifyRadioAndCheckboxWithFrame"/>
      <class name="testCase.TC0010_AlertAndPopUp"/>
      <class name="testCase.TC002_VerifyPageTitle"/>
       <class name="testCase.TC007_RightContextClick"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
